.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: wheat;

  &__logo {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: 1px solid black;
    padding: 5px;
  }

  &__links {
    display: flex;
    gap: 20px;
  }

  &__link {
    list-style: none;

    &--is-active {
      border-bottom: 1px solid teal;
      border-top: 1px solid teal;
      padding: 5px 0;
      background-color: rgba(0, 128, 128, 0.116);
    }
  }
}
