.sort-card-page {
  width: 100vw;

  &__title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 50px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 20px;
}

.card {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  width: 200px;
  height: 300px;
  background-color: lightcyan;
  border: 5px solid teal;
  border-radius: 12px;
  box-shadow: 0 0 10px 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: grab;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px rgb(90, 89, 89);
  font-size: 20px;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-10px);
  }
}

.green25 {
  border-color: rgb(0, 64, 100);
  background-color: rgba(0, 63, 100, 0.3);
}

.green50 {
  border-color: rgb(0, 128, 100);
  background-color: rgba(0, 128, 100, 0.3);
}

.green75 {
  border-color: rgb(0, 192, 100);
  background-color: rgba(0, 192, 100, 0.3);
}

.green100 {
  border-color: rgb(0, 255, 100);
  background-color: rgba(0, 255, 100, 0.3);
}
